a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
} /*a링크 속성*/
a:active {
  color: red;
}
header {
  background-color: white;
  font-size: 12px;
  overflow: auto;
  padding-right: 15px;
  font-weight: bolder;
}
li {
  background-color: skyblue;
  border: solid 0px skyblue;
  box-shadow: 1px 1px 5px gray;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  color: blueviolet;
  padding: 10px;
  display: inline-block;
}
ul {
  list-style-type: none;
  float: right;
  text-align: center;
}
