img {
  max-width: 20%;
  height: auto;
  border: gray solid 20px;
  float: left;
}
article {
  padding: 100px;
  border-bottom: 1px solid gray;
  overflow: auto;
}
.span {
  padding-left: 30%;
}
